.projects {
    float: left;
    width: 100%;
    margin: 1% 0px;
  }
  
.pro{
    font-size: 25px;
    float: left;
}

.pr {
    text-align: left;
    list-style-type:square;
    margin: 20px 0px;
}



  